# Ignore Frontend (kyunki ye Vercel par hai)
#frontend/
node_modules/
frontend/node_modules/

# Ignore local database and env
db.sqlite3
.env
__pycache__/
*.pyc

# Ignore media/uploads (agar local hain)
media/